<header class="header">
    <div class="header__wrap">
        <div class="header__top">
            <div class="header__search search">
                <input type="text" class="search__input" placeholder="Search">

                <svg class="search__icon">
                    <use xlink:href="./img/svg/sprite.svg#search"></use>
                </svg>
            </div>

            <div class="header__top-right">
                <div class="header__top-item">Login</div>
                <div class="header__top-item header__top-item--mr-91">Register</div>
                <svg class="header__icon">
                    <use xlink:href="./img/svg/sprite.svg#heart"></use>
                </svg>
                <div class="header__purchase">
                    <svg class="header__icon header__icon--purchase">
                        <use xlink:href="./img/svg/sprite.svg#shopping-basket"></use>
                    </svg>

                    <div class="header__purchase-number">1</div>
                </div>
            </div>
        </div>

        <div class="header__bottom">
            <nav>
                <ul class="header__nav">
                    <li>
                        <a href="#">
                            <svg class="header__logo">
                                <use xlink:href="./img/svg/sprite.svg#logo"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header__nav-item active">
                        <a href="#">
                            catalog 
                        </a>
                    </li>
                    <li class="header__nav-item header__nav-item--color_special">
                        <a href="#">
                            new year 
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">
                            sale 
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">
                            about 
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">
                            blog 
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">
                            contact 
                        </a>
                    </li>
                </ul>
            </nav>

            <ul class="header__lang">
                <li class="header__lang-item active">
                    <a href="#">
                        en
                    </a>
                </li>
                <li class="header__lang-item">
                    <a href="#">
                        ua
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
