<section class="slider">
    <div class="js-slider">
        <img class="slider__img" src="img/slider_1.jpg" alt="Dresses">
        <img class="slider__img" src="img/slider_2.jpg" alt="Purchases">
        <img class="slider__img" src="img/slider_3.jpg" alt="Coats">
    </div>

    <div class="slider__arrow js-slider-prev">
        <svg>
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
        </svg>
    </div>

    <div class="slider__arrow slider__arrow--right js-slider-next">
        <svg>
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
        </svg>
    </div>
</section>